# 
# ## Welcome on the UltraHardcore Reloaded configuration file ##
# 
# 
# About the "sound" configuration, the format is always the same:
# sound:
#     name:   The name of the sound. Names: see http://l.carrade.eu/bukkit-sounds . Set to "NONE" to disable.
#     volume: The volume of the sound. 1 is the normal volume. You can use a decimal value.
#     pitch:  The pitch of the sound.  1 is the normal volume. You can use a decimal value.
# 


# Available languages: en_US, fr_FR, pt_PT.
lang: en_US

episodes:
    enabled: true
    
    # Format: "mm", "mm:ss" or "hh:mm:ss". If invalid, 20 minutes.
    # Don't remove the "quotes" (because of the commas)!
    length: "20:00"

map:
    size: 2000
    circular: false
    wall:
        height: 128
        block:
            # The replaceAir block will be placed where there where some transparent blocks or trees before.
            # The replaceSolid one, where there was an other kind of block.
            replaceAir: GLASS
            replaceSolid: BEDROCK
    border:
        # The delay between two warning messages sent to the players out of a future border 
        # (this warning is set using /uh border warning <futureDiameter>).
        warningInterval: 90  # seconds

daylightCycle:
    do: false
    time: 6000  # Initial time (or game time if the daylight cycle is disabled) in ticks. 6000 = noon.


scoreboard:
    title: Kill the Patrick
    
    # Scoreboard displayed on the left of the screen
    enabled: true
    episode: true
    players: true
    teams: true
    timer: true
    freezeStatus: true
    
    # Health in the list of the players
    health: true

death:
    messages:
        notifyIfTeamHasFallen: true
        deathMessagesFormat: "§6"  # Use this to increase visibility of death messages.
        teamDeathMessagesFormat: "§6"
        
    kick:
        do: true
        time: 30
        allow-reconnect: true
        
    head:
        drop: true
        pvpOnly: false
        
    give-xp-to-killer:
        levels: 2  # set to 0 to disable
        onlyOtherTeam: true  # Give XP only if the player kills a player from another team?
        
    announcements:
        lightning-strike: false
        
        sound:
            name: WITHER_SPAWN
            volume: 1
            pitch: 1

# If true, the name of the players will be colorized according to the teams.
colorizeChat: true

gameplay-changes:
    weather: true  # If false, the "bad" weather (rain, thunder) is disabled.
    
    replaceGhastTearsWithGold: true
    craftGoldenMelonWithGoldBlock: true
    
    craftGoldenAppleFromHead:
        fromHuman:
            do: true
            numberCrafted: 2
            addLore: true
            craftNotchApple: false
        fromWither:
            do: true
            numberCrafted: 1
            addLore: true
            craftNotchApple: false
    
    goldenApple:
        regeneration:
            # Half-hearts regenerated by one apple. Vanilla: normal 4, notch 180 (yes, 180).
            normal: 4
            notch: 180
            fromNormalHead: 4
            fromNotchHead: 180
        
        disableNotchApples: false
    
    disableEnderpearlsDamages: true
    
    disableLevelIIPotions: false
    
    witch:
        disableNaturalSpawn: false
        disableLightningSpawn: false  # from a villager
    
    
    # If true a compass will show the nearest player, and the craft will be different.
    # Else, the craft will be standard and the compass will show the spawn point of the team/player (not the world spawn point).
    compass:
        enabled: true
        
        # The special recipe is with an ingredient in the center, and then,
        # from the top, clockwise: iron, spider eye, iron, rotten flesh, iron, bone, iron, gunpowder.
        # This field change the central ingredient.
        # "easy": redstone (like the normal compass).
        # "medium": ender pearl.
        # "hard": eye of ender.
        recipe: "medium"

teams-options:
    canSeeFriendlyInvisibles: true
    allowFriendlyFire: true

slow-start:
    delayBetweenTP: 3  # in seconds


hardcore-hearts:
    # Display hardcore hearts instead of normal ones?
    display: true
    
    # If a player die, his client will display an hardcore Game Over screen, without a « Respawn » button.
    # But the player CAN respawn, by clicking « Leave server » and then, on the confirmation screen,
    # « Respawn ».
    # With this option enabled, a short message will notify the player about that.
    # Notice: this will be disabled even with this set to true if the hardcore hearts are not enabled (useless).
    respawnMessage: true

# Automatically respawn the player after his death.
# Avoid the interrogation about the ability to respawn, if hardcore hearts are enabled.
auto-respawn:
    do: true
    delay: 6  # seconds


# Controls the behavior of the /uh finish command
finish:
    auto:
        do: true  # Execute /uh finish automatically a few seconds after the final death?
        timeAfterLastDeath: 3  # The command will be executed this amount of seconds after the last death.
    
    message: true  # If true, the name of the winner(s) will be broadcasted.
    fireworks:
        enabled: true  # If true, some fireworks will be launched at the location of the winners.
        duration: 10   # In seconds.
        areaSize: 6    # The size of the square, centered on each player, where the fireworks will be launched.


dynmap:
    showSpawnLocations: true
    showDeathLocations: true

# Log the private team-chat in the console?
logTeamChat: false

protips:
    sound:
        name: NOTE_PLING  # Cf. http://l.carrade.eu/bukkit-sounds ; "NONE" if you don't want a sound.
        volume: 2
        pitch: 3
    
    teamchat:
        useTCommand: true  # Protip: team-chat command
        lock: true         # Protip: can lock the team-chat
        useGCommand: true  # Protip: global-chat command

# Use this to set the spawnpoints of the teams (or the players)
# You can also use the command /uh addspawn (see /uh for documentation) to add temporary spawn points.
# (The spawn points added through /uh addspawn are deleted when the server is stopped.)
#
# Format:
#     - x,z
#     - x,z
#     - etc.

spawnpoints:
    -

# Use this to pre-register the teams.
# Format:
#     - color
#  -- OR --
#     - color,name

teams:
    -
